<ul class="gallery">
  <!-- Список <li> з картками зображень -->
</ul>
<div class="btn-container">
  <button class="button load-more-btn hidden">Load more pictures</button>
  <button class="button up-btn hidden"> To top</button>
  </divclass>